# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# macOS
.DS_Store

# Logs
*.log

# Distribution archives
*.jar
*.war
*.ear
*.zip
*.tar

# VS Code
.vscode/

# binary files
*/bin/
